<header class="container header">
    <a href="./index.html">
        <img class="header-logo" src="/img/icon/logo.svg" alt="logo" width="100" height="52">
    </a>
    <ul class="header__list">
        <li class="header__list-item header-blog"><a href="blog.html">BLOG</a></li>
        <li class="header__list-item header-catalog"><a href="catalog.html">CATALOG</a></li>
        <li class="header__list-item header-about"><a href="#">ABOUT US</a></li>
    </ul>
    <ul class="header__contact">
        <li><img src="/img/icon/search.svg" class="header__contact-found" alt="loupe" width="17" height="17"></li>
        <li><a href="contact.html">CONTACT US</a></li>
    </ul>
</header>